html,
body,
option,
select {
  /* color: rgb(108, 108, 108) !important; */
  color: #212529;
}
:root {
  --bordersform: rgba(190, 190, 190);
  --bordersform_hover: #3161fc;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  color: rgb(108, 108, 108) !important;
  color: #212529 !important;
}
.form-check-label {
  color: rgb(108, 108, 108);
  color: #212529;
}
.menu__img {
  width: 250px;
  height: auto;
}
.menu__box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  align-items: end;
}
.menu__img-wrap {
  height: calc(100% - 50px);
  display: flex;
  align-items: end;
  background-color: white;
  justify-content: center;
}
.menu__item {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  height: 300px;
}
.menu__item:hover {
  background-color: rgb(231, 242, 254);
}
.menu__sub {
  margin: 10px auto 0 auto;
}
section {
  margin-top: 20px;
}
.infoblock {
  /* border: 1px solid rgb(231, 231, 231); */
  /* box-shadow: 0 0px 3px 0px rgba(2, 17, 183, 0.5); */
  border: 1px solid rgba(2, 17, 183, 0.1);
  border: 1px solid var(--bordersform);

  /* background-color: rgba(128, 128, 128, 0.1); */
  /* background-color: rgb(248, 248, 255, 0.5); */

  padding: 15px 15px;
  border-radius: 1px;
  margin: 0 0 30px 0;
  /* box-shadow: inset 0 0px 100px rgba(0, 0, 0, 0.1); */
}
.infoblock__item {
  margin-bottom: 15px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.infoblock__item_top {
  display: flex;
  align-items: start;
}
.infoblock__item:last-child {
  margin-bottom: 0px;
}
.infoblock__paramsmachine {
  margin-bottom: 0px;
}

.nameoperation {
  margin: 40px 0;
  font-size: 1.8rem;
  text-align: left;
  text-transform: uppercase;
  color: rgb(108, 108, 108);
}
.namestrpereh {
  color: rgb(108, 108, 108);
  display: inline-block;
  margin: 20px 0 30px 0;
  font-size: 1.1rem;
}

.inpname {
  width: 240px;
  display: inline-block;
  margin-bottom: 6px;
  margin-top: 0px;
  font-size: 1.05rem;
  color: rgba(108, 108, 108, 0.6);
  padding: 0;
  background: url(./tochenie/tokarn_components/img/icons8-approved-24.png) no-repeat left top -20px;
  background-size: 2px 4px;
  transition: all 0.3s linear;
}
.inpname__withData {
  color: rgba(0, 0, 0, 0.85);
  /* font-weight: 500; */
  /* border-left: 6px solid rgb(105, 105, 255); */
  padding-left: 22px;
  background: url(./tochenie/tokarn_components/img/icons8-approved-24.png) no-repeat left center;
  background-size: 12px 18px;
  transition: all 0.3s linear;
}

.inpname__podpunkt {
  padding-left: 20px;
}
.toolname {
  margin: 2px 0 8px 0;
  border-bottom: 1px solid var(--bordersform);
  padding: 2px 10px;
}

.selectbox {
  outline: none;
  padding: 2px 10px 0px 10px;
  width: 160px;
  border: none;
  border-bottom: 1px solid var(--bordersform);
  transition: all 0.2s ease-in-out;
}
select.selectbox {
  appearance: none;
  overflow: hidden;
  background: url("./img/downarrow_select.gif") no-repeat right 8px bottom 7px;
  cursor: pointer;
  border-bottom: 1px solid var(--bordersform);
  /* border-radius: 3px; */
  transition: all 0.2s ease-in-out;
}
.selectbox:hover,
.selectbox:active,
.selectbox:focus {
  border-color: var(--bordersform_hover);
  background: rgba(0, 0, 255, 0.02);
}

select.selectbox:hover,
select.selectbox:active,
select.selectbox:focus,
select.selectbox_long:hover,
select.selectbox_long:active,
select.selectbox_long:focus {
  border-color: var(--bordersform_hover);
  background: rgba(0, 0, 255, 0.02) url("./img/downarrow_select_active.gif") no-repeat right 8px
    bottom 7px;
}

.selectbox_long {
  outline: none;
  padding: 4px 10px 2px 10px;
  /* margin-bottom: 18px; */
  width: 260px;
  height: 2rem;
  border: none;
  appearance: none;
  overflow: hidden;
  background: url("./img/downarrow_select.gif") no-repeat right 8px bottom 7px;
  cursor: pointer;
  border-bottom: 1px solid var(--bordersform);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.form-check-label_disabled,
.select_diabled {
  color: rgba(160, 160, 160, 0.6);
}
.selectbox_error {
  border: none;
  padding: 2px 10px 0px 10px;
  width: 160px;
  border-bottom: 2px solid #dc3545;
  outline: none;
  border-radius: 1px;
  background-color: #dc354608;
}
.selectbox__errormessage {
  display: block;
  position: absolute;
  font-size: 0.8rem;
  color: #dc3545;
  font-weight: 500;
  display: none;
  line-height: 0.75rem;
}
.selectbox__errormessage_active {
  display: block;
}
.selectbox_next {
  margin: 0 0 0 10px;
  display: none;
}
.active {
  display: inline-block;
}
.buttoncalc {
  display: block;
  margin: 10px auto 10px auto;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(10, 167, 10);
  border: none;
  color: white;
}
.buttoncalc:hover {
  background-color: rgb(8, 193, 8);
}

.rezult {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.truerezult {
  display: block;
  padding: 16px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 12px;
  margin: 0 0 30px 0;
  border: 1px solid rgba(2, 17, 183, 0.1);
  background-color: rgb(248, 248, 255, 0.35);
}
.truerezult h5 {
  margin: 0;
}
.truerezult h5:nth-child(1) {
  margin: 0;
}
.truerezult h5:nth-child(2) {
  margin: 10px 0 0 0;
}

.falserezult {
  display: block;
  /* box-shadow: 0 0px 3px 0px rgba(183, 2, 2, 0.5); */
  border: 1px solid #dc35462a;
  padding: 16px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #dc354608;
}
.falserezult h5 {
  margin: 0;
}

.checkperehod {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 19px;
  left: 15px;
}
.checkstrpereh {
  display: inline-block;
  margin-right: 16px;
}

.relativ {
  position: relative;
}
.dist {
  width: 35px;
}
.razdstr {
  margin-top: 20px;
  display: block;
}

.modeblock {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #eef2ff;
  /* background: linear-gradient(#d2dcfe, white, #d2dcfe); */
  padding: 12px;
  border-radius: 3px;
}
.modeblock__title {
  padding: 0 0 0 12px;
}
.modeblock__list {
  margin: 0;
}
.modeblock__item {
  margin-top: 5px;
}

.colorhead {
  background-color: white !important;
}
.btn-str {
  margin-top: 50px;
}
.accordion-item {
  /* border: 1px rgb(199, 197, 197) solid !important; */
  /* border: 1px solid rgba(2, 17, 183, 0.1) !important; */
  border: 1px solid rgb(143, 143, 254) !important;
  border-radius: 8px !important;

  margin-bottom: 15px;
  /* border-radius: 10px !important; */
  padding: 10px 5px;
  box-shadow: 0 2px 8px 2px rgba(2, 17, 183, 0.133);
  transition: all 0.15s linear;
}
.accordion-item:hover,
.accordion-item:focus,
.accordion-item:active {
  box-shadow: 0 1px 4px 1px rgba(2, 17, 183, 0.133);
  /* transform: translateY(1px); */
}
.accordion-button {
  border-radius: 15px !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-body {
  padding: 16px 42px !important;
}
/* --------------------new main------------------------- */

.main {
  padding: 0 0 30px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.machinegroupe__wrap {
  /* background-color: rgba(232, 233, 234, 0.447); */
  padding: 40px 0px;
}
.machinegroupe__name {
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  color: rgb(131, 131, 131);
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 3px;
  word-spacing: 5px;
}
.machinegroupe__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.machinegroupe__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.machinegroupe__img-wrap {
  flex-basis: calc(33% - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 0 3px 8px 3px rgba(2, 17, 183, 0.133);
  transition: all 0.15s linear;
}
.machinegroupe__img-wrap:hover {
  box-shadow: 0 1px 4px 1px rgba(2, 17, 183, 0.133);
  transform: translateY(1px);
}
.machinegroupe__sub {
  font-size: 26px;
  font-weight: 500;
  color: gray;
}
.machinegroupe__img-fon {
  display: inline-block !important;
  width: inherit;
  background-color: #fff;
}
.machinegroupe__img {
  width: 100%;
  height: auto;
  padding: 0 0 30px 0;
}
.imgadd {
  width: 100%;
  height: 200px;
}
.imgadd__wrap {
  position: relative;
}
.imgadd__fon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.36;
  z-index: 3;
}

@media screen and (max-width: 1440px) {
  .main {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .infoblock__item {
    flex-direction: column;
  }
}

.test {
  color: red;
}
